* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav div a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 40px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a:hover {
    color: red;
}

nav div li:last-child a {
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 10px;
}

nav div li:last-child a:hover {
    background-color: chocolate;
    color: bisque;
}

nav h2 {
    color: white;
}

.active {
    text-decoration: underline red double;
}

.hero {
    background-color: orange;
    height: 90vh;
    background: url('..//images/Banner.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.hero button:hover {
    background-color: darkred;
}

.video-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

.video-text {
    flex: 1;
}

.video-box {
    flex: 1;
}

.video-box video {
    width: 100%;
    border-radius: 10px;
}

.video-text h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.video-text p {
    font-size: 18px;
    color: #444;
}

.about {
    text-align: center;
    background-color: #edeaea;
    padding: 60px 20px;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: rgba(255, 0, 0, 0.615);
}

.about p {
    max-width: 700px;
    line-height: 1.6;
    margin: auto;
    font-size: 18px;
    color: #555;
}

.card {
    background-color: #edeaea;
    padding: 15px;
    /* border: 2px solid black; */
    text-align: center;
    box-shadow: 5px 5px 2px 0 gray;
    border-radius: 5px;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* border: 2px solid black; */
    padding: 20px;
}

.card img {
    width: 100%;
    height: 75%;
    margin-bottom: 15px;
}

.card button {
    background-color: red;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.card button:hover {
    background-color: darkred;
}

.icon-box {
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}

.icon-box img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid wheat;
    padding: 5px;
}

.Category-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.icon-box p {
    margin-top: 8px;
    font-size: 14px;
}

.icon-box img:hover {
    /* skew(ndeg) rotate (ndeg) translate(12px,12px) */
    transform: scale(1.1);
    border-color: black;
    transition: 0.5s;

}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

table {
    width: 70%;
    border-collapse: collapse;
    background-color: orange;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

thead {
    background-color: orangered;
    color: white;
}

th,
td {
    text-align: center;
    padding: 20px;
}

tbody tr {
    border-bottom: 1px solid white;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item img {
    height: 70px;
    width: 70px;
    border-radius: 15px;
}

.remove {
    background-color: orangered;
    border: none;
    padding: 16px 12px;
    cursor: pointer;
    border-radius: 10px;
}

.remove:hover {
    background-color: rgba(239, 71, 10, 0.618);
}

.Grand-total td {
    font-weight: bold;
    font-size: 18px;
}

.Grand-total button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.qty-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.qty-box button {
    width: 28px;
    height: 28px;
    border: none;
    background-color: orangered;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.qty-box button:hover {
    background-color: rgba(239, 71, 10, 0.618);
}

.qty-box span {
    font-weight: bold;
    min-width: 20px;
}

.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(110deg, yellow, orangered);
}

.auth-box {
    background: white;
    padding: 60px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 8px 25px rgb(0, 0, 0.3);
}

.auth-box h2 {
    margin-bottom: 20px;
    color: black;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5pc;
    outline: none;
    font-weight: bold;
}

.auth-box input:focus {
    border-color: red;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.auth-box button:hover {
    background-color: orangered;
}

.auth-box p{
margin-top: 12px;
font-size: 14px;
}

.auth-box a{
    color: red;
    text-decoration: none;
}

.deals-page{
    padding: 40px;
    background-color:bisque;
}

.deal-hero{
    background: linear-gradient(135deg,yellow,orangered);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.deal-hero h1{
    font-size: 40px;
}

.deal-hero p{
    font-size: 18px;
}

.section-title{
    margin: 30px 0 20px;
    font-size: 28px;
}

.combo-section{
    padding: 40px ;
    background-color:bisque;
}

.combo-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.combo-card img{
    width:100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.combo-card{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius:12px ;
    text-align: center;
    border:2px solid rgb(234, 229, 229);
    box-shadow: 0px 0px 10px gray;
    transition:0.3s;
}

.combo-card h4{
    margin: 10px 0;
}

.combo-card h4 span{
    text-decoration: 2px line-through red;
    color: gray;
    margin-right: 10px;
}

.button {
    width: 100%;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover{
    background-color:darkred;
}

.combo-card:hover{
    transform: scale(1.02);
    /* transform: translateY(-8px); */
}

.deal-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:25px;
}

.deal-card{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    text-align:center;
    box-shadow: 0 5px 15px black;
}

.deal-card h3{
    margin-bottom:10px;
}

.deal-card:hover{
    transform: translateY(-8px);
}

.red{
border-top: 3px solid red;
}

.yellow{
border-top: 3px solid yellow;
}

.green{
border-top: 3px solid green;
}

.blue{
border-top: 3px solid blue;
}

.deal-card span{
    display: inline-block;
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
}

footer{
    background-color: black;
    color: white;
    padding: 40px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

footer h2,h3{
    margin-bottom: 10px;
}

footer span{
    color: red;
}

footer a{
    color: white;
    text-decoration: none;
}

.footer-bottom{
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #333;
    font-size: 14px;
}

.footer-box ul{
    display: flex;
    flex-direction: column;
}

.special-icons a{
    display: inline-block;
    background-color: rgba(239, 71, 10, 0.618);
    padding: 12px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 10px;
}

.special-icons a:hover{
   background-color: red;
   color: white;
}