ol{
    background-color: rgb(178, 115, 237);
}
ol li{
    background-color: aqua;
    margin:10px;
}   
h1{
    background-color: plum;
    margin: 15px;
    padding: 60px;
    height: 50px;
    box-sizing: border-box;
}
.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    position:absolute;
}
#box1{
    background-color: red;
}
#box2{
    background-color: blue;
}
#box3{
    background-color: green;
}